* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }

* {
  color: green; }
