html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* Keyframes for fade-in effect */
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Class to apply the fade-in animation */
.fadein {
  animation: fadein .1s ease-in forwards; }

:root {
  --brick-red: #a35252;
  /* Brick Red */
  --sandy-beige: #c5b484;
  /* Sandy Beige */
  --ivory-mist: #f3f0e7;
  /* Ivory Mist */
  --ocean-depths: #324055;
  /* Ocean Depths */
  --sagebrush-green: #9fada9;
  /* Sagebrush Green */
  --charcoal-dust: #2f2f2f;
  /* Charcoal Dust */
  --ghost-white: #f9fafc;
  /* Ghost White */ }

a {
  color: var(--brick-red);
  font-size: 1.6rem;
  transition: color 0.3s ease; }
  a:hover, a:focus, a:active {
    color: var(--charcoal-dust);
    outline: none; }

a.navigation {
  color: var(--charcoal-dust);
  font-size: 1.6rem;
  transition: color 0.3s ease; }
  a.navigation:hover, a.navigation:focus, a.navigation:active {
    color: var(--brick-red);
    outline: none; }

a.button {
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease; }

a.button-primary {
  background-color: var(--brick-red);
  border: 3px solid var(--brick-red);
  color: var(--ghost-white);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; }
  a.button-primary:hover {
    background-color: transparent;
    border: 3px solid var(--brick-red);
    color: var(--brick-red); }

a.button-hero {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  color: #ffffff;
  border: 3px solid #ffffff;
  background-image: linear-gradient(to right, #ffffff 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease, color 0.3s ease; }
  a.button-hero:hover {
    background-position: left bottom;
    color: var(--brick-red); }
  a.button-hero:hover::before {
    border-color: #007bff; }
  a.button-hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: border-color 0.3s ease; }
  a.button-hero > * {
    position: relative;
    z-index: 1; }

.blog .instance-group {
  display: flex;
  justify-content: space-between; }
  .blog .instance-group .post-instance {
    width: 32%;
    height: 45rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    position: relative;
    padding: 2rem; }
    .blog .instance-group .post-instance:hover .background {
      filter: blur(3px); }
    .blog .instance-group .post-instance .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .blog .instance-group .post-instance h5 {
      position: relative;
      z-index: 1; }
  @media only screen and (max-width: 56.25em) {
    .blog .instance-group {
      flex-direction: column; }
      .blog .instance-group .post-instance {
        width: 100%;
        margin-bottom: 1rem; }
        .blog .instance-group .post-instance:last-child {
          margin-bottom: 0; } }

.callout {
  background-color: white;
  border-radius: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 25em) {
    .callout {
      padding-left: 2rem;
      padding-right: 2rem; } }
  .callout .content {
    text-align: center; }
    .callout .content h2 {
      margin-bottom: 3rem;
      text-transform: capitalize; }

/* Add this to your existing CSS */
.no-scroll {
  overflow: hidden;
  height: 100vh;
  /* Prevents scrolling by setting the height to the viewport height */
  width: 100vw;
  /* Optional: Ensures the width is also locked to the viewport width */ }

.contact-modal {
  background-color: red;
  display: none; }
  .contact-modal .closeContactModal {
    cursor: pointer; }
  .contact-modal.active {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: inherit;
    justify-content: center; }
    .contact-modal.active .form-area {
      background-color: white;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 60vh;
      margin-top: 10%;
      padding: 3rem;
      border: 3px solid var(--brick-red); }
      @media only screen and (max-width: 56.25em) {
        .contact-modal.active .form-area {
          width: 75%; } }
      @media only screen and (max-width: 25em) {
        .contact-modal.active .form-area {
          width: 90%; } }
      .contact-modal.active .form-area .pre-form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem; }
      .contact-modal.active .form-area form input, .contact-modal.active .form-area form textarea {
        width: 100%;
        padding: 1rem; }
      .contact-modal.active .form-area form input[type="submit"] {
        padding: 1.5rem .5rem;
        background-color: var(--brick-red);
        color: white;
        border: none;
        border-radius: 2rem;
        font-size: 2rem;
        text-transform: uppercase; }
      .contact-modal.active .form-area form label {
        font-weight: bold; }
      .contact-modal.active .form-area form p {
        margin-top: 2rem; }

.faq {
  background-color: white;
  border-radius: 2rem; }
  .faq .accordion-item {
    margin-bottom: 1rem;
    overflow: hidden; }
    .faq .accordion-item .heading {
      background-color: transparent;
      color: var(--charcoal-dust);
      padding: 0.5rem 3rem;
      padding-top: 2rem;
      cursor: pointer;
      user-select: none;
      position: relative;
      transition: background-color 0.3s; }
      .faq .accordion-item .heading h3 {
        color: inherit;
        text-transform: capitalize;
        font-weight: 100;
        font-size: 1.8rem; }
      .faq .accordion-item .heading:hover {
        opacity: .5; }
      .faq .accordion-item .heading::after {
        content: "+";
        position: absolute;
        right: 3rem;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        font-size: 3rem;
        color: var(--brick-red);
        transition: transform 0.3s; }
      .faq .accordion-item .heading.active::after {
        transform: translateY(-50%) rotate(45deg); }
    .faq .accordion-item .body {
      max-height: 0;
      padding: 0 3rem;
      background-color: white;
      color: var(--charcoal-dust);
      transition: max-height 0.5s ease, padding 0.5s ease; }

.featured {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .featured {
      flex-direction: column; } }
  .featured .left {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: white;
    width: 40%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .featured .left {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 2rem; } }
  .featured .right {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: white;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .featured .right {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; } }
    .featured .right .logo-box {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      padding-left: 3rem;
      padding-right: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .featured .right .logo-box {
          width: 100%;
          padding-bottom: 3rem; } }
      .featured .right .logo-box img {
        max-height: 8rem;
        margin-left: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .featured .right .logo-box img {
            max-height: 6rem; }
            .featured .right .logo-box img:first-child {
              margin-left: 0; } }
        @media only screen and (max-width: 25em) {
          .featured .right .logo-box img {
            max-height: 4rem; } }

.footer {
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 2rem;
  width: 100%; }
  .footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .footer .top {
        flex-direction: column;
        text-align: center; } }
    .footer .top .center ul {
      display: flex; }
      .footer .top .center ul li {
        list-style-type: none;
        margin-right: 2rem; }
        @media only screen and (max-width: 56.25em) {
          .footer .top .center ul li {
            margin-right: 0; } }
        .footer .top .center ul li:last-child {
          margin-right: 0; }
        .footer .top .center ul li a {
          display: inline-block;
          padding: 2rem;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none; }
      @media only screen and (max-width: 56.25em) {
        .footer .top .center ul {
          flex-direction: column; } }
    .footer .top .right .social-icons {
      display: flex; }
      .footer .top .right .social-icons > * {
        transition: transform 0.3s ease; }
        .footer .top .right .social-icons > *:not(:first-child) {
          margin-left: 1rem; }
        .footer .top .right .social-icons > *:hover {
          transform: translateY(-2px); }
  .footer .bottom {
    text-align: center;
    font-style: italic; }
    .footer .bottom p {
      font-size: 1.2rem; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hero {
  background: center / cover no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15rem 5rem;
  position: relative; }
  .hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .hero .hero-content {
    position: relative;
    z-index: 2;
    padding-right: 50%; }
    @media only screen and (max-width: 56.25em) {
      .hero .hero-content {
        padding-right: 45%; } }
    @media only screen and (max-width: 25em) {
      .hero .hero-content {
        padding-right: 35%; } }
  .hero h1 {
    margin-bottom: 2rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.7s ease-out 0.1s forwards;
    opacity: 0; }
  .hero p {
    margin-bottom: 3rem;
    animation: fadeIn 0.7s ease-out 0.8s forwards;
    opacity: 0; }
  .hero .button {
    animation: fadeIn 0.7s ease-out 1.6s forwards;
    opacity: 0; }
  @media only screen and (max-width: 56.25em) {
    .hero {
      padding: 7rem 3rem; } }
  @media only screen and (max-width: 25em) {
    .hero {
      padding: 5rem 2rem; } }

.logo-reel {
  margin-top: -2rem; }

.navbar {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .navbar {
      flex-direction: column; } }
  .navbar .left {
    margin-bottom: 0; }
    .navbar .left img {
      height: 8rem; }
  .navbar .right {
    margin-bottom: 0; }
    .navbar .right ul {
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .navbar .right ul {
          padding-top: 1rem;
          padding-bottom: 1rem; } }
      .navbar .right ul li {
        list-style: none;
        margin-left: 3rem;
        font-weight: bold;
        text-transform: uppercase; }
        .navbar .right ul li:first-child {
          margin-left: 0; }
        .navbar .right ul li a {
          text-decoration: none; }

.services {
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-radius: 2rem; }
  @media only screen and (max-width: 25em) {
    .services {
      padding: 1rem 1rem; } }
  .services-heading-block {
    text-align: center; }
    .services-heading-block p {
      margin-bottom: 2rem; }
  .services-card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .services-card-group {
        justify-content: center; } }
    .services-card-group .card {
      border-radius: 2rem;
      overflow: hidden;
      width: calc(25% - 2rem);
      cursor: pointer;
      transition: box-shadow 0.5s ease;
      box-shadow: none;
      color: white; }
      .services-card-group .card:hover {
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05); }
      @media only screen and (max-width: 56.25em) {
        .services-card-group .card {
          width: 75%;
          margin: 1rem 0; } }
      @media only screen and (max-width: 25em) {
        .services-card-group .card {
          width: 85%; } }
      .services-card-group .card-top {
        height: 20rem; }
        @media only screen and (max-width: 56.25em) {
          .services-card-group .card-top {
            height: 15rem; } }
      .services-card-group .card-bottom {
        padding: 3rem 1rem; }
        .services-card-group .card-bottom h5 {
          margin-bottom: 1.5rem; }
      .services-card-group .card:nth-child(1) {
        background-color: var(--ocean-depths); }
      .services-card-group .card:nth-child(2) {
        background-color: var(--sagebrush-green); }
      .services-card-group .card:nth-child(3) {
        background-color: var(--brick-red); }
      .services-card-group .card:nth-child(4) {
        background-color: var(--sandy-beige); }

.team {
  background-color: var(--ghost-white);
  display: flex;
  border-radius: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .team {
      flex-direction: column;
      border-radius: 0; } }
  .team .left {
    width: 50%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .team .left {
        width: 100%; } }
  .team .right {
    width: 50%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .team .right {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-top: 0; } }
    .team .right .image {
      background-color: wheat;
      height: 35rem; }

.testimonial {
  border-radius: 2rem;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 25em) {
    .testimonial {
      padding: 1rem 1rem; } }
  .testimonial-inner {
    background-color: white; }
    .testimonial-inner .section-heading-box {
      background-color: var(--ghost-white);
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem; }
    .testimonial-inner .testimonial-box {
      background-color: var(--ghost-white);
      display: flex;
      justify-content: space-around;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      padding-bottom: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .testimonial-inner .testimonial-box {
          flex-direction: column;
          align-items: center; } }
      .testimonial-inner .testimonial-box .testimonial-instance {
        background-color: white;
        width: 45%;
        padding: 3rem;
        border-radius: 2rem;
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05); }
        @media only screen and (max-width: 56.25em) {
          .testimonial-inner .testimonial-box .testimonial-instance {
            margin-top: 1rem;
            width: 75%; } }
        @media only screen and (max-width: 25em) {
          .testimonial-inner .testimonial-box .testimonial-instance {
            margin-top: 1rem;
            width: 100%; } }
        .testimonial-inner .testimonial-box .testimonial-instance .heading-block {
          display: flex; }
          .testimonial-inner .testimonial-box .testimonial-instance .heading-block .portrait {
            background-color: palegreen;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin-right: 1rem;
            background: url("https://i.ytimg.com/vi/AZ9NlOaS_3U/maxresdefault.jpg?sqp=-oaymwEmCIAKENAF8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gYSgUMA8=&rs=AOn4CLDFhTyFQgOO9WnsGnia3XubygGwbg") center/cover no-repeat; }
          .testimonial-inner .testimonial-box .testimonial-instance .heading-block .description {
            flex-grow: 1;
            align-self: center; }
            .testimonial-inner .testimonial-box .testimonial-instance .heading-block .description p {
              color: #ACACAC;
              font-style: italic; }
        .testimonial-inner .testimonial-box .testimonial-instance .content-block {
          font-style: italic;
          padding-top: 1rem;
          padding-bottom: 1rem; }

.page {
  background-color: var(--ivory-mist);
  display: flex;
  flex-direction: column;
  align-items: center; }

.content-container {
  max-width: 1140px; }

.content-container > * {
  margin-bottom: 2rem; }

.archive {
  background-color: red;
  width: 100%; }
  .archive-banner {
    background-color: yellow;
    width: 100%;
    border: 1px solid black;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .archive-banner h1 {
        text-align: center; } }
  .archive-main {
    background-color: green;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: -5rem; }
    @media only screen and (max-width: 56.25em) {
      .archive-main {
        width: 100%; } }
    .archive-main .top {
      background-color: pink;
      padding: 3rem; }
    .archive-main .bottom {
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .archive-main .bottom {
          flex-direction: column; } }
      .archive-main .bottom-left {
        width: 50%;
        background-color: yellow;
        border-radius: 2rem;
        padding: 1rem; }
        @media only screen and (max-width: 56.25em) {
          .archive-main .bottom-left {
            width: 100%; } }
        .archive-main .bottom-left .featured-item {
          background-color: tomato; }
          .archive-main .bottom-left .featured-item-image {
            height: 20rem;
            background-color: hotpink; }
      .archive-main .bottom-right {
        width: 50%;
        background-color: blue; }
        @media only screen and (max-width: 56.25em) {
          .archive-main .bottom-right {
            width: 100%; } }
        .archive-main .bottom-right .category-roll-item {
          background-color: aqua;
          margin-bottom: .5rem;
          display: flex;
          align-items: center; }
          .archive-main .bottom-right .category-roll-item .left {
            background-color: tomato;
            width: 40%;
            height: 10rem; }
          .archive-main .bottom-right .category-roll-item .right {
            background-color: aliceblue;
            width: 60%;
            padding: 1rem; }
            .archive-main .bottom-right .category-roll-item .right a {
              text-decoration: none; }
            .archive-main .bottom-right .category-roll-item .right p {
              font-size: 1.4rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem; }

h2 {
  font-size: 3.2rem;
  margin-bottom: 1.25rem; }

h3 {
  font-size: 2.8rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 2.4rem;
  margin-bottom: .75rem; }

h5 {
  font-size: 2.0rem;
  margin-bottom: 0.5rem; }

h6 {
  font-size: 1.6rem;
  margin-bottom: .25rem; }

* {
  font-family: 'Open Sans', sans-serif; }

p {
  font-size: 1.6rem;
  line-height: 2.6rem; }
