html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  --brick-red: #a35252;
  /* Brick Red */
  --sandy-beige: #c5b484;
  /* Sandy Beige */
  --ivory-mist: #f3f0e7;
  /* Ivory Mist */
  --ocean-depths: #324055;
  /* Ocean Depths */
  --sagebrush-green: #9fada9;
  /* Sagebrush Green */
  --charcoal-dust: #2f2f2f;
  /* Charcoal Dust */
  --ghost-white: #f9fafc;
  /* Ghost White */ }

.team {
  background-color: orangered;
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 56.25em) {
    .team {
      flex-direction: column; } }
  .team .left {
    background-color: green;
    width: 50%;
    display: flex;
    align-items: center; }
    .team .left .content {
      background-color: red; }
  .team .right {
    background-color: yellow;
    width: 50%;
    text-align: center; }
    .team .right img {
      width: 430px;
      height: 430px; }

.page {
  background-color: var(--ivory-mist);
  display: flex;
  flex-direction: column;
  align-items: center; }

.content-container {
  max-width: 1140px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.8rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2.0rem; }

h6 {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem; }
