.callout {
    background-color: white;
    border-radius: $border-radius;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    .content {
        text-align: center;
    }
}