.services {
    background-color: lightpink;
    padding-left: $padding-horizontal;
    padding-right: $padding-horizontal;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    border-radius: $border-radius;

    &-heading-block {
        background-color: aqua;
        text-align: center;
    }

    &-card-group {
        background-color: lightgreen;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            background-color: lightcoral;
            margin: 1rem;
            border-radius: $border-radius;
            overflow: hidden;
            width: 48%;
            cursor: pointer;
            transition: box-shadow 0.5s ease; // Add this line for the shadow animation
            box-shadow: none; // Ensure there's a default state for the box-shadow

            &:hover {
                box-shadow: $box-shadow; // Apply your predefined shadow variable on hover
            }

            @media only screen and (max-width:$bp-medium) {
                width: 65%;
            }

            &-top {
                height: 20rem;
                @media only screen and (max-width:$bp-medium) {
                    height: 15rem;
                }
            }

            &-bottom {
                background-color: lightgoldenrodyellow;
                padding: 1rem;
            }
        }
    }
}
