:root {
  --brick-red: #a35252; /* Brick Red */
  --sandy-beige: #c5b484; /* Sandy Beige */
  --ivory-mist: #f3f0e7; /* Ivory Mist */
  --ocean-depths: #324055; /* Ocean Depths */
  --sagebrush-green: #9fada9; /* Sagebrush Green */
  --charcoal-dust: #2f2f2f; /* Charcoal Dust */
  --ghost-white: #f9fafc; /* Ghost White */
}
