//Breakpoints
$bp-medium:56.25em; //900/16

//Utilities
$padding-horizontal: 3rem;
$padding-vertical: 5rem;

//Borders
$border-radius:2rem;

//Shadow
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
