//Breakpoints
$bp-medium:56.25em; //900/16
$bp-small:25em;

//Utilities
$padding-horizontal: 3rem;
$padding-vertical: 5rem;

//Borders
$border-radius:2rem;
$border-radius-inner:1rem;
$border-radius-sharp:.5rem;

//Shadow
$box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
